@model IEnumerable<MovieCollection.Models.Serie>

@{
    ViewData["Title"] = "Listado de Series";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create"><i class="fa fa-plus-circle"></i> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SerieName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginalName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdSerie"><i class="fa fa-pencil"></i> Editar</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdSerie"><i class="fa fa-eye"></i> Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdSerie"><i class="fa fa-trash"></i> Borrar</a>

            </td>
        </tr>
}
    </tbody>
</table>
