@model IEnumerable<Genre>

@section Styles {
    <style type="text/css">
        table img {
            height: 90px;
            width: 150px;
        }
    </style>
}

@{
    ViewData["Title"] = "Listado de Géneros";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create"><i class="fa fa-plus-circle"></i> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenreName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                <img src="@Html.DisplayFor(modelItem => item.ImgURL)" alt="@Html.DisplayFor(modelItem => item.GenreName)" />
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdGenre"><i class="fa fa-pencil"></i> Editar</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdGenre"><i class="fa fa-eye"></i> Detalles</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdGenre"><i class="fa fa-trash"></i> Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
