@model MovieCollection.Models.Movie

@section Styles{
    <style>
        dd {
            margin-bottom:1rem;
        }

        dd > img {
            width: 10rem;
        }
    </style>
}

@{
    ViewData["Title"] = Model.MovieName;
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Información detallada del Título</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class="alert alert-success">
            @Html.DisplayFor(model => model.MovieName)
        </dd>

       @if (Model.MovieAlias != null)
       {
        <dt>
            @Html.DisplayNameFor(model => model.MovieAlias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieAlias)
        </dd>
       }

        <dt>
            @Html.DisplayNameFor(model => model.MovieSequel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MovieSequel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        @if (Model.IdSerie != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Serie.SerieName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Serie.SerieName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Season) / @Html.DisplayNameFor(model => model.Episode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Season) / @Html.DisplayFor(model => model.Episode)
            </dd>
        }
      

        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="alert alert-info">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.ImgURL)" alt="@Html.DisplayFor(model => model.MovieName)" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePremiere)
        </dt>
        <dd>
            @String.Format("{0:dd-MMM-yyyy}", Model.DatePremiere)
            @*@Html.DisplayFor(model => model.DatePremiere)*@
        </dd>
      
        <dt>
            Link
        </dt>
        <dd>
            <a class="btn btn-danger" target="_blank" href="@Html.DisplayFor(model => model.OuoLink)"><i class="fa fa-cloud-download"></i> Descargar</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpokenLanguage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpokenLanguage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTitledLanguage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTitledLanguage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QualityReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QualityReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resolution)
        </dd>
      
    </dl>
</div>
<div>
   @if (User.IsInRole("Admin"))
   {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.IdMovie"><i class="fa fa-pencil"></i> Editar</a>
    }
    <a asp-action="Index"><i class="fa fa-undo"></i> Regresar al Listado</a>
</div>
<hr />