@model IEnumerable<MovieCollection.Models.Movie>

@section Styles{
    <style>
        #myCarousel .carousel-inner > .item,
        carousel-inner > .item.active,
        #recentVideos .carousel-inner > .item div.card,
        #recentVideos .carousel-inner > .item.active div.card {
            height: 496px;
        }

        #recentVideos .carousel-inner > .item div.card,
        #recentVideos .carousel-inner > .item.active > div.col-md-3 {
            padding: 0 1rem 0 0;
        }

            #recentVideos .carousel-inner > .item div.card:last-child,
            #recentVideos .carousel-inner > .item.active > div.col-md-3:last-child {
                padding-right: 0;
            }

            #myCarousel .carousel-inner > .item > img,
            #recentVideos .carousel-inner > .item div.card > img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

        #recentVideos .carousel-control {
            width: 5%;
        }

        #adBanner {
            text-align: center;
            padding: 2rem 0 2rem 0;
        }

        h2.line-center {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #000;
            line-height: 0.1em;
            margin: 4rem 0 4rem 0;
        }

            h2.line-center span {
                background: #fff;
                padding: 0 10px;
            }

        div.btn-center {
            text-align: center
        }

            div.btn-center > a {
                margin: 2rem;
            }

            div.btn-center.pink > a {
                background-color: deeppink;
                color: white;
            }

        div.card-img-overlay {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            color: white;
            background-color: chocolate;
            opacity: 0.7;
            vertical-align: middle;
            padding: 2rem 1rem;
            visibility: hidden;
        }

        div.card:hover .card-img-overlay {
            visibility: visible;
        }
    </style>
}

@{
    ViewData["Title"] = "Inicio";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/landscape-1458830593-game-of-thrones-cast.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/justice league.jpg" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/frozen banner.jpg" alt="Package Management" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/avengers-banner.jpg" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>


<h2 class="line-center"><span>Últimos Videos Cargados</span></h2>

<div id="recentVideos" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#recentVideos" data-slide-to="0" class="active"></li>
        <li data-target="#recentVideos" data-slide-to="1"></li>
        <li data-target="#recentVideos" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        @{
            int _counter = 0;

            foreach (var item in Model)
            {
                if (_counter == 0 || _counter == 4 || _counter == 8)
                {
                    string _active;

                    if (_counter == 0)
                    {
                        _active = "item active";
                    }
                    else
                    {
                        _active = "item";
                    }

                    @:<div class="@_active">
                }

                <div class="col-md-3">
                    <div class="card bg-dark text-white">
                        <img class="card-img" src="@Html.DisplayFor(modelItem => item.ImgURL)" alt="@Html.DisplayFor(modelItem => item.MovieName)" />
                        <div class="card-img-overlay">
                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.MovieName)</h4>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            <div>
                                <a class="btn btn-primary" target="_blank" href="@Html.DisplayFor(modelItem => item.OuoLink)">Descargar</a>
                            </div>
                        </div>
                    </div>
                </div>

                if (_counter == 3 || _counter == 7 || _counter == 11)
                {
                    @:</div>
                }

                _counter++;
            }
        }


    </div>
    <a class="left carousel-control" href="#recentVideos" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="right carousel-control" href="#recentVideos" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>

<div class="btn-center pink">
    <a asp-area="" asp-controller="Movies" asp-action="Index" class="btn btn-lg">Ir al Listado de películas...</a>
</div>

<div id="adBanner">
    <!-- Start of ouo.io banner code -->
    <a href="http://ouo.io/ref/mcTIrdpj"><img src="http://ouo.io/images/banners/r1.jpg" title="MEGA Colección de Películas" /></a>
    <!-- End of ouo.io banner code -->
</div>


